@model eBankit.FE.Simulators.Areas.EmailSender.Models.IndexModel

@{
    ViewData["HeaderTitle"] = "Email Sender Simulator";
    ViewData["Title"] = "Demo";
}

    <div class="h-100 mt-4 mb-4 ">
        <div class="form-row col-12 col-md-11 mb-2 mt-2 s-b-input-row">
            <label class="col-12 col-md-3 col-form-label LabelFormat" for="txtClientId">Campaign Name</label>
            <label class="col-12 col-md-3 col-form-label" for="txtClientId">@Model.CampaignDetail.CampaignName</label>
        </div>
        <div class="form-row col-12 col-md-11 mb-2 mt-2 s-b-input-row">
            <label class="col-12 col-md-3 col-form-label LabelFormat" for="txtScope">Contacts</label>
            <label class="col-12 col-md-3 col-form-label" for="txtScope">@Model.CampaignDetail.MarketingListTotal</label>
        </div>
        <div class="form-row col-12 col-md-11 mb-2 mt-2 s-b-input-row">
            <label class="col-12 col-md-3 col-form-label LabelFormat" for="txtScope">Marketing List</label>
            <label class="col-12 col-md-3 col-form-label" for="txtScope">@Model.CampaignDetail.MarketingListName</label>
        </div>
        @if (!@Model.HasErrors)
        {
            <span class="badge badge-pill badge-success">Success</span>
            <p>@Model.ProcessStatusDescription</p>
        }
        else
        {
            <span class="badge badge-pill badge-danger">Error</span>
        }

        <br />
    </div>

    @if (Model.HasErrors)
    {
        <div>
            <p>@Model.ErrorMessage</p>
        </div>
    }



<link rel="stylesheet" href="~/css/emailSender.css" asp-append-version="true" />
