@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<div class="actionsContainer">
    <div class="container">
        <div class="actionsTitle">@Umbraco.GetDictionaryValue("IWant")</div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-4-override col-4-margin">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="imgAction centerBlock img-circle text-center">
                            <i class="fa fa-home fa-3x"></i>
                        </div>
                        <div class="actionText">
                            @Umbraco.GetDictionaryValue("BuyHouse")
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="imgAction centerBlock img-circle text-center">
                            <i class="fa fa-money fa-3x"></i>
                        </div>
                        <div class="actionText">
                            @Umbraco.GetDictionaryValue("SaveForFuture")
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-4-override col-4-margin">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="imgAction centerBlock img-circle text-center">
                            <i class="fa fa-umbrella fa-3x"></i>
                        </div>
                        <div class="actionText">
                            @Umbraco.GetDictionaryValue("ProtectFamily")
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="imgAction centerBlock img-circle text-center">
                            <i class="fa fa-car fa-3x"></i>
                        </div>
                        <div class="actionText">
                            @Umbraco.GetDictionaryValue("BuyCar")
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-4-override">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="imgAction centerBlock img-circle text-center">
                            <i class="fa fa-line-chart fa-3x"></i>
                        </div>
                        <div class="actionText">
                            @Umbraco.GetDictionaryValue("PrepareRetirement")
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="imgAction centerBlock img-circle text-center">
                            <i class="fa fa-plane fa-3x"></i>
                        </div>
                        <div class="actionText">
                            @Umbraco.GetDictionaryValue("Travel")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>