@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "ebankIT_Master.cshtml";
    dynamic products;
    
    if(!string.IsNullOrEmpty(Request.QueryString["currency"]) && !string.IsNullOrEmpty(Request.QueryString["amount"]))
    {
        string amount = Request.QueryString["amount"];
        string currency = Request.QueryString["currency"];
        products = CurrentPage.Children.Where(string.Format("ebankIT_minAmount<={0} && ebankIT_maxAmount>={0} && ebankIT_currency=\"{1}\"",amount,currency));
    }
    else
    {
        products = CurrentPage.Children;
    }
    var productsHigh = CurrentPage.Children.Where("ebankIT_highlightinproductlist=true");

    var highlights = CurrentPage.Children("ebankIT_Product");

    var currentLanguage = CurrentPage.AncestorsOrSelf().Where("DocumentTypeAlias == \"ebankIT_Language\"").FirstOrDefault();
    var segment = currentLanguage.Children.Where("DocumentTypeAlias == \"ebankIT_Segment\"").FirstOrDefault();
    var simulador_ = segment.Children.Where("DocumentTypeAlias == \"ebankIT_SimulatorDetails\"").FirstOrDefault();

}
<div class="container-fluid">
    <div class="row">
        @{Html.RenderPartial("Highlight", Model.Content, new ViewDataDictionary { { "SegmentPage", true } });}
    </div>
</div>
<div class="productList">
    <div class="container">
        @if(products.Count() > 0)
        {
            <div class="row">
                <div class="productsHomeTitle">@CurrentPage.GetPropertyValue("ebankIT_byline")</div>
            </div>
       
            foreach (var prod in products)
            {
                <div class="row product">
                    <div class="col-xs-12 col-sm-4 col-4-override">
                        @if (prod.ebankIT_rollupImage != null && !(prod.ebankIT_rollupImage is Umbraco.Core.Dynamics.DynamicNull))
                        {
                            var m =  (prod.ebankIT_rollupImage);
                            <img src="@m.Url" class="lazy hidden-xs image img-responsive">
                        }
                        @if (prod.ebankIT_productImage != null && !(prod.ebankIT_productImage is Umbraco.Core.Dynamics.DynamicNull))
                        {
                            var m =  (prod.ebankIT_productImage);
                            <img src="@m.Url" class="lazy visible-xs image img-responsive">
                        }
                    </div>
                    <div class="col-xs-12 col-sm-8 col-8-override">
                        <div class="descriptionBox">
                            <div class="productsHomeTitle ">@prod.Name</div>
                            <div class="description">@prod.GetPropertyValue("ebankIT_byline")</div>
                            <div class="row noPadds">
                                <div class="col-xs-6 col-sm-6 col-3-description">
                                    <div class="detailBox centerBlock">
                                        <div class="title">@Umbraco.GetDictionaryValue("MinAmt")</div>
                                        <div class="value">@prod.GetPropertyValue("ebankIT_minAmount") @prod.GetPropertyValue("ebankIT_currency")</div>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-3-description">
                                    <div class="detailBox centerBlock">
                                        <div class="title">@Umbraco.GetDictionaryValue("MaxAmt")</div>
                                        <div class="value">@prod.GetPropertyValue("ebankIT_maxAmount") @prod.GetPropertyValue("ebankIT_currency")</div>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-3-description">
                                    <div class="detailBox centerBlock">
                                        <div class="title">@Umbraco.GetDictionaryValue("Term")</div>
                                        <div class="value">@prod.GetPropertyValue("ebankIT_termDays") @Umbraco.GetDictionaryValue("Days")</div>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-3-description">
                                    <div class="detailBox centerBlock">
                                        <div class="title">@Umbraco.GetDictionaryValue("InterestRate")</div>
                                        <div class="value">@prod.GetPropertyValue("ebankIT_interestRate")</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
@*                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <a href="@simulador_.Url?IDProduct=@prod.ebankIT_centralID"><div class="subscribe">@Umbraco.GetDictionaryValue("Subscribe")</div></a>
                                </div>*@
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="more pull-right">
                                        <a href="@prod.Url">
                                            @Umbraco.GetDictionaryValue("KnowMore")
                                            <i class="fa fa-chevron-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }else{
            <div class="row ">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 noPadds">
                    <div class="savingsError">@Umbraco.GetDictionaryValue("NoSavings")</div>
                </div>
            </div>
        }
    </div>
</div>
@{ Html.RenderPartial("Savings"); }