@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using eBankit.Business.Entities.Banking.Loans;

@{
    Layout = "ebankIT_Master.cshtml";
    var currSegment = CurrentPage.AncestorsOrSelf().Where("DocumentTypeAlias == \"ebankIT_ProductList\"").FirstOrDefault();
    var currProduct = CurrentPage;
    var productImage = string.Empty;

    if (CurrentPage.ebankIT_productImage != null && !(CurrentPage.ebankIT_productImage is Umbraco.Core.Dynamics.DynamicNull))
    { 
        productImage = @CurrentPage.ebankIT_productImage.Url;
    }

    CoreLoanProduct loan = ebankIT.Windows.Portals.Public.Umbraco.Helper.AccountHelper.CreditProduct(null, null, currProduct.ebankIT_centralID);

    var currentLanguage = CurrentPage.AncestorsOrSelf().Where("DocumentTypeAlias == \"ebankIT_Language\"").FirstOrDefault();
    var segment = currentLanguage.Children.Where("DocumentTypeAlias == \"ebankIT_Segment\"").FirstOrDefault();
    var simulador_ = segment.Children.Where("DocumentTypeAlias == \"ebankIT_SimulatorDetails\"").FirstOrDefault();


}
<div class="productDetail credit">
    <div class="=container-fluid">

        <div class="productImage lazy" style="background-image: url(@productImage);">
            <div class="container ">
                <p>@currSegment.Name</p>
                <p class="productTitle">@currProduct.Name</p>
                <div class="row byline">
                    <div class="col-md-6 col-xs-12">@currProduct.GetPropertyValue("ebankIT_byline")</div>
                </div>
                <p>
                    @if (CurrentPage.ebankIT_Link != null && !(CurrentPage.ebankIT_Link is Umbraco.Core.Dynamics.DynamicNull))
                    {
                        <a href="@simulador_.Url?IDProduct=@currProduct.ebankIT_centralID">
                            @Umbraco.GetDictionaryValue("CalculateNow")
                            <img class="lazy" src="/css/images/knowmore-white.png" />
                        </a>}
                </p>
            </div>
        </div>

    </div>
    <div class="container ">
        <div class="row">
            <div class="row-height">
                <div class="col-xs-12 col-sm-8 col-sm-height productDetailLeft">
                    <div class="inside inside-full-height">
                        <div class="content">
                            <h1>@Umbraco.GetDictionaryValue("AboutThisProduct")</h1>
                            <div class="productDescription">
                                <h2>@Umbraco.GetDictionaryValue("Advantages")</h2>
                                <p>@currProduct.GetPropertyValue("ebankIT_productDescription")</p>
                            </div>
                            <div class="ProductDetailTabs">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs responsive" role="tablist" id="productTabs">
                                    @{ bool first = true;}
                                    @for (int i = 0; i < 5; i++)
                                    {
                                        string title = currProduct.GetPropertyValue("ebankIT_TitleTab" + i.ToString());
                                        if (!string.IsNullOrEmpty(title))
                                        {
                                            <li role="presentation" class="@(first ? "active" : string.Empty)">
                                                <a href="#tab@(i)" aria-controls="tab@(i)" role="tab" data-toggle="tab">@title</a>
                                                <div class="arrow"></div>
                                            </li>
                                            first = false;
                                        }
                                    }
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content responsive" id="collapse-productTabs">
                                    @{ first = true; }
                                    @for (int i = 0; i < 5; i++)
                                    {
                                        HtmlString text = currProduct.GetPropertyValue("ebankIT_Tab" + i.ToString());
                                        if (text != null)
                                        {
                                            <div role="tabpanel" class="tab-pane @(first ? "active" : string.Empty)" id="tab@(i)">
                                                @text
                                            </div>
                                            first = false;
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-sm-height col-sm-top productDetailRight">
                    <div class="inside inside-full-height">
                        <div class="content">
                            <h1>&nbsp;</h1>
                            <div class="simulator">
                                <p class="calculateLoan">@Umbraco.GetDictionaryValue("CalculateLoan")</p>
                                <div class="savingsSubTitle simulator_subtitle">
                                    <div class="pull-left title1">
                                        @Umbraco.GetDictionaryValue("Amount")
                                    </div>
                                    <div class="pull-right title2">
                                        @if (@loan != null)
                                        {
                                            @loan.CurrencyId}
                                    </div>
                                </div>
                                <input disabled="disabled" type="text" id="dragAmtTextCredit" class="savingsDisplayBox input_simulator" />
                                <div class="savingsControl">
                                    <div id="dragAmtCredit" class="savingsLine dragdealer noselect">
                                        <div class="savingsButton drag img-circle handle"></div>
                                    </div>
                                </div>
                                <div class="savingsSubTitle simulator_subtitle">
                                    <div class="pull-left title1">
                                        @Umbraco.GetDictionaryValue("Term")
                                    </div>
                                    <div class="pull-right title2">
                                        @Umbraco.GetDictionaryValue("Years")
                                    </div>
                                </div>
                                <input disabled="disabled" type="text" id="dragTermTextCredit" class="savingsDisplayBox input_simulator" />
                                <div class="savingsControl">
                                    <div id="dragTermCredit" class="savingsLine dragdealer noselect">
                                        <div class="savingsButton drag img-circle handle"></div>
                                    </div>
                                </div>
                                <div class="calculate">
                                    <div class="subscribe gradientBG">@Umbraco.GetDictionaryValue("Calculate")</div>
                                </div>
                            </div>
                        </div>
                        @if (CurrentPage.ebankIT_productdocument01 != null && !(CurrentPage.ebankIT_productdocument01 is Umbraco.Core.Dynamics.DynamicNull))
                        {
                            var m =  (CurrentPage.ebankIT_productdocument01);

                            <div class="productDoc">
                                <a href="@m.Url">
                                    <img class="lazy img-responsive" src="~/css/images/icon-pdf.png" />
                                </a>
                                <a href="@m.Url">@Umbraco.GetDictionaryValue("ProductDoc01")</a>
                            </div>
                        }
                        @if (CurrentPage.ebankIT_productdocument02 != null && !(CurrentPage.ebankIT_productdocument02 is Umbraco.Core.Dynamics.DynamicNull))
                        {
                            var m =  (CurrentPage.ebankIT_productdocument02);

                            <div class="productDoc">
                                <a href="@m.Url">
                                    <img class="lazy img-responsive" src="~/css/images/icon-pdf.png" />
                                </a>
                                <a href="@m.Url">@Umbraco.GetDictionaryValue("ProductDoc02")</a>
                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>

    @{Html.RenderPartial("MoreToYou");}

</div>

@if (loan != null)
{
    <script>
        var dragTime;
        var dragAmt;

        var valueAmt;
        var valueYears;

        var MIN_YEARS = "@loan.LoanDurationMin";
        var MAX_YEARS = "@loan.LoanDurationMax";
        var DIFF_YEARS = MAX_YEARS - MIN_YEARS;
        var MIN_AMT = "@loan.LoanAmountMin".split(",")[0] / 1000;
        var MAX_AMT = "@loan.LoanAmountMax".split(",")[0] / 1000;
        var DIFF_AMT = MAX_AMT - MIN_AMT;

        var AMT_VAL = 1000;

        $(document).ready(function () {
            dragAmt = new Dragdealer('dragAmtCredit', {
                steps: DIFF_AMT,
                slide: false,
                animationCallback: function (x, y) {
                    valueAmt = Math.floor(x * DIFF_AMT + Math.floor(MIN_AMT)) * AMT_VAL;
                    if (valueAmt == 0) {
                        valueAmt = Math.floor(MIN_AMT == 0 ? AMT_VAL : MIN_AMT);
                    }
                    $("#dragAmtTextCredit").val(valueAmt);
                }
            });

            dragTime = new Dragdealer('dragTermCredit', {
                steps: DIFF_YEARS,
                slide: false,
                animationCallback: function (x, y) {
                    valueYears = Math.floor(x * DIFF_YEARS) + Math.floor(MIN_YEARS);
                    if (valueYears == 0) {
                        valueYears = Math.floor(MIN_YEARS);
                    }
                    $("#dragTermTextCredit").val(valueYears);
                }
            });

            $(".subscribe").click(function () {
                window.location = "@simulador_.Url" + "?amount=" + valueAmt + "&time=" + valueYears + "&IDProduct=" + "@currProduct.ebankIT_centralID";
            });
        });
    </script>
}
