@using eBankit.Middleware.Ui.Web.Monitoring.HtmlHelpers
@using eBankit.Middleware.Ui.Web.Monitoring.Models
@model ManageRolesViewModel
<!-- begin #content -->


<div id="content" class="content">
    <!-- begin breadcrumb -->
    @BreadCrumbs.RenderBreadCrumbs(Model.BreadCrumbs)
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Roles List<small> list of all roles</small></h1>
    <!-- end page-header -->
    <!-- begin row (search filters) -->
    <div class="row">
        <div class="panel col-md-12 transparent">
            <div class="panel-inverse newStyle">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="#" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">Create/Update Role</h4>
                </div>
                <div class="panel-body panel-form">
                    <form class="form-horizontal form-bordered" action="Roles" method="post">
                        <input type="hidden" name="RoleId" id="RoleId" value="@Model.RoleId" />
                        <input type="hidden" name="Action" id="Action" value="INSERT" />
                        <input type="hidden" name="Result" id="Result" value="@Model.Result" />
                        <div class="col-md-12 form-group">
                            <label class="control-label col-md-2">Role</label>
                            <div class="col-md-10">
                                <input type="text" name="Role" id="txtRole" class="form-control" placeholder="Role" value="@Model.Role">
                            </div>
                        </div>

                        <div class="col-md-12 form-group">
                            <label class="control-label col-md-2">Permissions</label>
                            <div class="col-md-10">
                                <div id="jstree-checkable">

                                </div>

                            </div>
                        </div>
                        <div class="col-md-12 form-group">

                            <button type="submit" class="btn btn-inverse m-r-5 m-b-5" style="margin-top: 10px; float: right" id="btnAction" value="Save" onclick="SaveSelectedItems();" name="BtnSubmit">Create</button>
                            <button class="btn btn-inverse m-r-5 m-b-5" style="margin-top: 10px; float: right" id="btnNew" value="Clear" onclick="redirectToNewRole();" name="BtnNewRole">Clear</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- begin row -->
    <div class="row">
        <!-- begin col-12 -->
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel-inverse newStyle">
                <div class="panel-heading">
                    <h4 class="panel-title">Roles</h4>
                </div>
                <div class="panel-body table-responsive">
                    <table id="results-table" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th style="width: 90%;">Designation</th>
                                <th style="width: 5%;"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-12 -->
    </div>
    <!-- end row -->
</div>
<!-- end #content -->

<form class="form-horizontal form-bordered" action="DeleteRole" method="post">
    <input type="hidden" name="RoleNId" id="RoleNId" value="@Model.RoleId" />
    <div class="modal fade" id="modal-confirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button><h4 class="modal-title">Delete Role    Confirmation</h4>
                </div>
                <div class="modal-body">Do you wish to delete this role?</div>
                <div class="modal-footer">
                    <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Close</a>
                    <button type="submit" class="btn btn-sm btn-success">Continue</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="modal" id="modal-result">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Role</h4>
            </div>
            <div class="modal-body">
                Role successfully <span id="lblAction"></span>.
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>

@*Manage Error*@
@ConfirmationModal.RenderModalError()
@Html.Raw(ViewBag.modalError)

<link href="~/cssbundles/requestsStyles" rel="stylesheet" type="text/css" />
<script src="~/bundles/requestsScripts"></script>

<script>

    $(document).ready(function () {

        if ($('#Result').val() != '') {

            $('#lblAction').html($('#Result').val());
            $('#modal-result').modal('show');
        }

        ToggleSideBarMenu($('#Administration'), $('#Roles'));


        var dataUrl = '@Html.Raw(Url.Action("GetRolesResults", "Manage"))';
        var columns = [
                { "mDataProp": "Id", "targets": 0, "visible": false },
                { "mDataProp": "Designation", "orderable": false },
                {
                    "mDataProp": null,
                    "orderable": false,
                    "sClass": "detail",
                    "mRender": function (data, type, full) {
                        var txt = '&nbsp;';
                        if (data.Designation != 'Administrator' && data.Designation != 'Non-validated') {
                            txt = "&nbsp;<a href='#modal-confirmation' role='button' class='btn btn-inverse' onclick=\"$('#RoleNId').val('" + data.Id + "');\" data-toggle='modal'><i class='fa fa-times' style='font-size:13px'></i></a>";
                        }

                        return "<div style='width:15%'><a href='#' role='button' class='btn btn-inverse btnEdit' data-toggle='modal'><i class='fa fa-pencil-square-o' style='font-size:13px'></i></a>" + txt + "</div>";
                    }
                }
        ];

        InitializeDataTable('results-table', dataUrl, columns, [[1, "DESC"]]);

        var treeUrl = '@Html.Raw(Url.Action("TreeViewTestContent", "Manage"))';
        EditClickEvent(treeUrl);

        handleJstreeCheckable(treeUrl);

        App.init();


    });

    var handleJstreeCheckable = function (treeUrl) {
        $("#jstree-checkable").jstree("destroy");
        $("#jstree-checkable").on('select_node.jstree', function (e, data) {
            if (data.event) {
                data.instance.select_node(data.node.children_d);
            }
        })
    .on('deselect_node.jstree', function (e, data) {
        if (data.event) {
            data.instance.deselect_node(data.node.children_d);
        }
    }).jstree({
            plugins: ["wholerow", "checkbox", "types"],
            checkbox: {
                three_state: false,
                cascade: 'none'
            },
            core: {
                themes: {
                    responsive: !1
                },
            data: {
                    url: treeUrl,
                    data: function (n) {

                        return { id: n.attr ? n.attr("id") : 0 }
                    }
                }
            },
            types: {
                "default": {
                    icon: "fa fa-folder text-primary fa-lg"
                },
                file: {
                    icon: "fa fa-file text-success fa-lg"
                }
            }
        });

       
    }


    var EditClickEvent = function (treeUrl) {
        $("tbody .detail .btn.btn-inverse.btnEdit").live("click", function (event) {
            event.stopPropagation();
            var tableData = table.row(this.parentElement.parentElement.parentElement).data();


            waitLoading();
            setTimeout(function () {
                $('#Action').val('EDIT');
                $('#RoleId').val(tableData['Id']);
                $('#txtRole').val(tableData['Designation']);


                handleJstreeCheckable(treeUrl + '?roleid=' + $('#RoleId').val());

                stopLoading();
                $('#btnAction').text('Update');

                if ($('#txtRole').val() === "Administrator" || $('#txtRole').val() === "Non-validated") {
                    $('#btnAction').hide();
                }
                else {
                    $('#btnAction').show();
                }
            }, 1000);


        });
    }


    var SaveSelectedItems = function () {
        var treeData = $('#jstree-checkable').jstree(true).get_json('#', { flat: true })
        var allIds = [];
        $(treeData).each(function (index) {
            if (this.state.selected)
                allIds[index] = 1;
            else
                allIds[index] = 0;
        });

        $.ajax({
            url: '@Html.Raw(Url.Action("SavePermissions", "Manage"))',
            async: true,
            type: "POST",
            dataType: "json",
            data: JSON.stringify({
                divIds: allIds,
                RoleId: $('#RoleId').val(),
                Role: $('#txtRole').val(),
                Action: $('#Action').val()
            }),
            contentType: "application/json charset=utf-8",
            success: function (data) {
                $('#btnAction').text('Save');
            }
        })


    }

    var redirectToNewRole = function () {
        waitLoading();
        $('#RoleId').val('');
        $('#txtRole').val('');
        $('#Action').val('INSERT');
        $('#Result').val('');
        window.location.href = '@Url.Action("Roles", "Manage")';
    }


</script>

