@using eBankit.Middleware.Ui.Web.Monitoring.HtmlHelpers
@using eBankit.Middleware.Ui.Web.Monitoring.Models
@model DatabaseRequestsViewModel
<!-- begin #content -->
<div id="content" class="content">
	<!-- begin breadcrumb -->
    @BreadCrumbs.RenderBreadCrumbs(@Model.BreadCrumbs)
	<!-- end breadcrumb -->
	<!-- begin page-header -->
	<h1 class="page-header">Databases Analytics<small></small></h1>
	<!-- end page-header -->
    <!-- begin row -->
	<div class="row">
		<!-- begin col-12 -->
		<div class="panel col-md-12 transparent">
			<!-- begin panel -->
			<div class="panel-inverse newStyle">
				<div class="panel-heading">
					<h4 class="panel-title">Databases Statistics</h4>
				</div>
				<div class="panel-body table-responsive">
					<table id="results-table" class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>Database</th>
								<th>Total Size (Mb)</th>
                                <th>% Size Free</th>
                                <th>Data File Size (Mb)</th>
                                <th>% File Size Free</th>
                                <th>Log File Size (Mb)</th>
                                <th>% File Size Free</th>
                                <th>Date</th>
                                <th></th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
			<!-- end panel -->
		</div>
		<!-- end col-12 -->
	</div>
	<!-- end row -->
</div>
<!-- end #content -->


@*Manage Error*@
@ConfirmationModal.RenderModalError()
@Html.Raw(ViewBag.modalError)

<link href="~/cssbundles/requestsStyles" rel="stylesheet" type="text/css" />
<link href="~/Content/morris.css" rel="stylesheet" />
<script src="~/bundles/requestsScripts"></script>
<script src="~/Scripts/raphael-min.js"></script>
<script src="~/Scripts/morris.js"></script>
<script>

    $(document).ready(function () {
        
        ToggleSideBarMenu($('#Analytics'), $('#DatabaseAnalytics'));

        //TODO: DEFINE OUTPUT PARAMETERS
        var dataUrl = '@Html.Raw(Url.Action("GetDatabaseSizes", "Analytics"))';
        var columns = [
            { "mDataProp": "Database", "orderable": true },
            { "mDataProp": "TotalSize", "orderable": true },
            { "mDataProp": "TotalSizeFree", "orderable": true },
            { "mDataProp": "DataFileSize", "orderable": true },
            { "mDataProp": "DataFileSizeFree", "orderable": true },
            { "mDataProp": "LogFileSize", "orderable": true },
            { "mDataProp": "LogFileSizeFree", "orderable": true },
            {
                "mDataProp": "DateTime",
                "orderable": false,
                "mRender": function (data, type, full) {
                    return "<span style='white-space: nowrap;'>" + moment(data).format('YYYY-MM-DD') + "<\span>";
                }
            },
            {
                "mDataProp": null,
                "orderable": false,
                "sClass": "detail",
                "bVisible": '@ViewBag.Permissions.Analytics_Databases_Tables'.toLowerCase() == 'true',
                "mRender": function (data, type, full) {
                     return "<div class='alignCenter' onclick='redirectToDatabaseTables(\"" + data.Database + "\")'>" +
                                    "<div class='btn btn-inverse detailsButton'>" +
                                        "<i class='fa fa-search-plus'  style='font-size:13px'></i>" +
                                    "</div>" +
                                "</div>";
                }
            }
            
        ];
        var table = InitializeDataTable('results-table', dataUrl, columns, [[0, "ASC"]], true);     
        
        App.init();

    });

    var redirectToDatabaseTables = function (database) {
        waitLoading();
        window.location.href = '@Url.Action("Databases_Tables", "Analytics")' + '?Database=' + database + "&Interval=7";
    }
    var redirectToHome = function () {
        waitLoading();
        window.location.href = '@Url.Action("Index","Home")';
        }

</script>